dist
build
bin
target
rebel.xml
MANIFEST.MF
/tests/
/coverage/
/cobertura.ser
*/ebay.log
*.class
*.jar
*.zip
*/target/*
*/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
/.idea/
**/*.iml
build.xml
ebay-build.xml
4cc.checksum
/.metadata
/.classpath
/.project
/.settings
