*.class
*.log
.cache
.DS_Store
bin
report/
squbsconfig/
var/

# sbt specific
dist/*
target/
test-output/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ specific
.idea/
.metadata/
temp_*.xml
.idea_modules/

# travis-ci
local.*
