dist
build
bin
target
rebel.xml
build.xml
ebay-build.xml
4cc.checksum
MANIFEST.MF
.cache
*.class
*.jar
*.zip
/tests
/coverage
/cobertura.ser
/.idea
/.metadata
*/ebay.log
*/target/*
*/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
**/*.iml